In [1]:
import pandas as pd
import os
import numpy as np
import seaborn as sbn
import matplotlib.pyplot as plt
from Bio import SeqIO
import requests
from io import StringIO
import PDBdata_Scraper as Scraper

In [2]:
PDB_taxid_data = pd.read_csv('PDB_TaxID.csv',index_col = False)

In [3]:
PDB_taxid_data = PDB_taxid_data.drop(columns='Unnamed: 0')
PDB_taxid_data.head()

  PDB_ID             TAX_ID
0   5wkx           ['9031']
1   6r69          ['28901']
2   6s0l           ['9606']
3   6w2c  ['10090', '9606']
4   7o01           ['3055']

In [4]:
PDB_taxid_data[PDB_taxid_data['TAX_ID'] == 'Not found taxid']

     PDB_ID           TAX_ID
4223   2jtw  Not found taxid
4778   2lx0  Not found taxid
6848   2ki9  Not found taxid

In [5]:
PDB_taxid_data[PDB_taxid_data['TAX_ID'] == "[None]"]

     PDB_ID  TAX_ID
102    2zfe  [None]
464    2k3c  [None]
859    2k58  [None]
1854   1rkl  [None]
2594   1z65  [None]
2908   1jdm  [None]
3061   1ln6  [None]
3668   1r2n  [None]
3950   1l0m  [None]
4715   1bnx  [None]
5348   2htg  [None]
5804   1b9u  [None]
6297   2k59  [None]
6797   1fdf  [None]
6993   1iij  [None]
7829   1bzk  [None]

In [6]:
len(PDB_taxid_data[PDB_taxid_data['TAX_ID'] == 'PDB data unavailable'])

117

In [7]:
## manually search and fill out 3 'Not found taxid' candidates
# organism for '2lx0' is undefined
dict_extra = {'2jtw':['559292'],'2ki9':['9606'] }

In [8]:
PDB_taxid_data_cp = PDB_taxid_data.copy()

In [9]:
# manually add taxid  
PDB_taxid_data_cp.iat[4223, 1] =  "['559292']"
PDB_taxid_data_cp.iat[6848, 1] =  "['9606']"

In [10]:
PDB_taxid_data_cp[PDB_taxid_data_cp['PDB_ID'] == '2ki9']

     PDB_ID    TAX_ID
6848   2ki9  ['9606']

In [11]:
PDB_taxid_data_cp[PDB_taxid_data_cp['TAX_ID'] == 'Not found taxid']

     PDB_ID           TAX_ID
4778   2lx0  Not found taxid

In [12]:
PDB_taxid_data_cp.to_csv('PDB_TaxID_final.csv')

In [13]:
PDB_taxid_data_cp[PDB_taxid_data_cp['TAX_ID'] == "[None]"]

     PDB_ID  TAX_ID
102    2zfe  [None]
464    2k3c  [None]
859    2k58  [None]
1854   1rkl  [None]
2594   1z65  [None]
2908   1jdm  [None]
3061   1ln6  [None]
3668   1r2n  [None]
3950   1l0m  [None]
4715   1bnx  [None]
5348   2htg  [None]
5804   1b9u  [None]
6297   2k59  [None]
6797   1fdf  [None]
6993   1iij  [None]
7829   1bzk  [None]

In [ ]:
def col_str_converter(col_str):
    # covert format of taxid in the df
    t1 = col_str.replace('[','')
    t2 = t1.replace(']','')
    t3 = t2.replace("'",'')
    t4 = t3.split(',') #convert t4 as a list
    return t4

In [ ]:
col_str_converter("[None]")

In [ ]:
t = Scraper.col_str_converter('Not found taxid')
t

In [ ]:
('Not found taxid' in t) or ('None' in t)

In [ ]:
def get_GC_info(taxid_col_str,df1,df2,df3):
    GC_taxlist = []
    taxid_list = col_str_converter(taxid_col_str)
    print(taxid_list)
    if 'PDB data unavailable'in taxid_list:
        return 'PDB data unavailable'
    else:
        if ('Not found taxid' in taxid_list) or ('None' in taxid_list) :
            return 'taxid not availble'
        else: 
            for TaxID in taxid_list:
                int_taxid = int(float(TaxID))
                if int_taxid in df1['TaxID'].values:
                    GC_df = df1[df1['TaxID'] == int_taxid]['GC%'].values
                    GC = float(GC_df[0])
                    GC_taxlist.append(GC) 
                    #return float(GC)
                else:
                    if int_taxid in df2['TaxID'].values:
                        GC_df = df2[df2['TaxID'] == int_taxid]['GC%'].values
                        GC = float(GC_df[0])
                        GC_taxlist.append(GC) 
                        #return float(GC)
                    else:
                        if int_taxid in df3['TaxID'].values:
                            GC_df = df3[df3['TaxID'] == int_taxid]['GC%'].values
                            GC = float(GC_df[0])
                            GC_taxlist.append(GC) 
                            #return float(GC)
                        else:
                            GC = 'Not found'
                            GC_taxlist.append(GC) 
                            #return ('Not found')
            return GC_taxlist

In [14]:
Scraper.get_GC_info("[None]",Scraper.df_euk,Scraper.df_pro,Scraper.df_virus)

['None']

'taxid not availble'

In [15]:
test = PDB_taxid_data_cp.head(200)

In [16]:
Scraper.Merge_pdb_GC(test,Scraper.df_euk,Scraper.df_pro,Scraper.df_virus)

['9031']
1
['28901']
2
['9606']
3
['10090', ' 9606']
4
['3055']
5
['9940']
6
['2242']
7
['9606']
8
['9606', ' 9844']
9
['84112', ' 32630']
10
['32630', ' 10116', ' 9606', ' 9913']
11
['420246', ' 1699078']
12
['390333']
13
['9103', ' 9913', ' 9844']
14
['573']
15
['10090', ' 10116']
16
['643867', ' 9844']
17
['9606']
18
['9606']
19
['83333']
20
['9606']
21
['1916']
22
['33072']
23
['9823']
24
['32630', ' 9606', ' 9844']
25
['198628']
26
['1063']
27
['36809']
28
['9913']
29
['9606']
30
['727']
31
['9913']
32
['562']
33
['416870']
34
['9940']
35
['83333']
36
['6239']
37
['9606']
38
['573']
39
['9646']
40
['562']
41
['9606']
42
['83333']
43
['1247190']
44
['6253']
45
['169963']
46
['1063']
47
['269796']
48
['1075']
49
['83333']
50
['PDB data unavailable']
51
2he6 FAILED PDB
['32042']
52
['9606']
53
['10090']
54
['562']
55
['1049564']
56
['37502']
57
['83333']
58
['1868482']
59
['3702']
60
['470']
61
['281310']
62
['9157']
63
['9606']
64
['1079']
65
['32630', ' 9606']
66
['272558']
67
['272943']
68
['37502']
69
['9103', ' 9606', ' 279974']
70
['9606']
71
['1063']
72
['9823']
73
['2697049']
74
['9823']
75
['9606']
76
['9940']
77
['10116']
78
['10116']
79
['197221']
80
['9606']
81
['37762']
82
['1079']
83
['9606']
84
['9606']
85
['9606']
86
['10090']
87
['32630', ' 9844']
88
['83333']
89
['632']
90
['PDB data unavailable']
91
2a0d FAILED PDB
['9913']
92
['10090', ' 9606']
93
['595496']
94
['8364']
95
['9606']
96
['10116']
97
['933093']
98
['9606']
99
['30538', ' 243274']
100
['2242']
101
['10090', ' 7227']
102
['None']
103
2zfe FAILED taxid
['9606']
104
['272563']
105
['3562']
106
['3888']
107
['10116']
108
['556', ' 9844']
109
['562']
110
['10090', ' 9844']
111
['573']
112
['1094619']
113
['300852']
114
['287']
115
['PDB data unavailable']
116
1y5d FAILED PDB
['10116']
117
['10116']
118
['562']
119
['398511']
120
['1385624']
121
['644']
122
['158878']
123
['562']
124
['10090']
125
['1454201']
126
['1063']
127
['279238']
128
['666']
129
['9606']
130
['10116']
131
['7797']
132
['10090', ' 9606']
133
['10090', ' 208964']
134
['10090', ' 9606']
135
['10090']
136
['83333', ' 562', ' 83334']
137
['697290']
138
['9606']
139
['9913']
140
['243232']
141
['146786']
142
['9606']
143
['10090']
144
['9606']
145
['83333', ' 615']
146
['8090']
147
['251221']
148
['300852']
149
['562']
150
['9606']
151
['83333']
152
['9606']
153
['1579311', ' 10665']
154
['557600']
155
['9606']
156
['83333']
157
['9986']
158
['9606']
159
['70601']
160
['2261']
161
['10090', ' 9606']
162
['588']
163
['520']
164
['1515']
165
['562']
166
['10090', ' 1916']
167
['226900']
168
['266']
169
['9606']
170
['2242']
171
['9606']
172
['83333']
173
['562', ' 9606']
174
['9606']
175
['PDB data unavailable']
176
1mmh FAILED PDB
['196627']
177
['9913']
178
['9606']
179
['1515']
180
['9606']
181
['9606']
182
['9823']
183
['2242']
184
['1308']
185
['9606']
186
['1269007', ' 550676', ' 869688', ' 562']
187
['9606']
188
['9031']
189
['485']
190
['9913']
191
['300852']
192
['9913']
193
['267377']
194
['10090']
195
['470']
196
['381517']
197
['9823']
198
['10090', ' 7227']
199
['224308']
200

{'5wkx': [42.2233],
 '6r69': [52.217],
 '6s0l': [41.4876],
 '6w2c': [41.8825, 41.4876],
 '7o01': [63.5313],
 '6zkc': [41.9869],
 '5a44': [66.2551],
 '7d3f': [41.4876],
 '7dge': [41.4876, 'Not found'],
 '7qia': [64.0949, 'Not found'],
 '7fin': ['Not found', 42.0588, 41.4876, 41.9479],
 '5doq': [48.8513, 48.9],
 '7nnu': [49.7],
 '8dcs': [41.6144, 41.9479, 'Not found'],
 '7pzf': [56.9958],
 '6ud4': [41.8825, 42.0588],
 '6hd9': [35.5046, 'Not found'],
 '6mhs': [41.4876],
 '7lkz': [41.4876],
 '4lsf': [50.7569],
 '7dsx': [41.4876],
 '3gb7': [72.2],
 '3tlw': ['Not found'],
 '7v31': [41.971],
 '7wuj': ['Not found', 41.4876, 'Not found'],
 '5hej': [56.3],
 '2qjp': [69.1338],
 '6wbx': [64.1138],
 '2ped': [41.9479],
 '7ekp': [41.4876],
 '3m78': [38.2],
 '2i35': [41.9479],
 '1gfn': [50.6073],
 '4dve': [35.7],
 '7jjp': [41.9869],
 '2wvp': [50.7569],
 '7usy': [35.4317],
 '3oe0': [41.4876],
 '1osm': [56.9958],
 '5u1v': [41.8526],
 '4ea3': [50.6073],
 '6cm4': [41.4876],
 '4jbw': [50.7569],
 '7kaq': ['Not found'],
 '4ysy': [37.6962],
 '4h33': [38.0],
 '2uxl': [69.1338],
 '7oy8': [65.3317],
 '1prn': [66.4219],
 '3puz': [50.7569],
 '2he6': 'PDB data unavailable',
 '7znq': [61.4],
 '1ih5': [41.4876],
 '6wf2': [41.8825],
 '1q9g': [50.6073],
 '6fl9': [58.2],
 '6re9': ['Not found'],
 '3pux': [50.7569],
 '6wik': [41.0],
 '5tua': [36.0529],
 '7met': [38.9896],
 '2nr9': [38.2],
 '6o6r': [41.5208],
 '7vc4': [41.4876],
 '3t6e': [67.9],
 '7ssz': ['Not found', 41.4876],
 '3wo7': [43.7],
 '5lri': [68.7646],
 '6re3': ['Not found'],
 '6tko': [41.6144, 41.4876, 'Not found'],
 '8d1k': [41.4876],
 '1rqk': [69.1338],
 '4res': [41.971],
 '8ctk': [38.0],
 '3ae6': [41.971],
 '6nq0': [41.4876],
 '7jkc': [41.9869],
 '6mmj': [42.0588],
 '7vls': [42.0588],
 '5e79': [53.9],
 '6qzi': [41.4876],
 '1bt9': [50.8],
 '2i5n': [67.9],
 '5zkc': [41.4876],
 '7rhi': [41.4876],
 '6tp4': [41.4876],
 '7os4': [41.8825],
 '5ojm': ['Not found', 'Not found'],
 '4zln': [50.7569],
 '4g1u': [47.6924],
 '2a0d': 'PDB data unavailable',
 '2eik': [41.9479],
 '7s8l': [41.8825, 41.4876],
 '4n74': [50.8],
 '6o84': [40.7533],
 '5kxi': [41.4876],
 '6vqh': [42.0588],
 '5voz': [38.2],
 '6uvt': [41.4876],
 '6qv2': [41.8, 46.2],
 '1bhb': [66.2551],
 '4xpb': [41.8825, 42.0803],
 '2zfe': 'taxid not availble',
 '6drz': [41.4876],
 '3te1': [29.0978],
 '6voj': [38.3997],
 '6yp7': [37.9728],
 '6u86': [42.0588],
 '6ssi': [54.4, 'Not found'],
 '5d0q': [50.6073],
 '7k65': [41.8825, 'Not found'],
 '5xat': [56.9958],
 '7x06': ['Not found'],
 '3eh5': [69.4857],
 '3rbh': [66.5],
 '1y5d': 'PDB data unavailable',
 '2kog': [42.0588],
 '7x20': [42.0588],
 '1oy9': [50.6073],
 '2x2v': [39.8927],
 '7q3h': [54.1],
 '6grj': [61.5],
 '3anz': [32.8654],
 '1q16': [50.6073],
 '7mik': [41.8825],
 '7o8p': [39.7],
 '3duq': [69.1338],
 '6vqu': [65.1542],
 '6wtx': [47.4023],
 '7vl8': [41.4876],
 '5wo6': [42.0588],
 '5aw1': ['Not found'],
 '7ej8': [41.8825, 41.4876],
 '3wfb': [41.8825, 66.6],
 '7vif': [41.8825, 41.4876],
 '6ztq': [41.8825],
 '5nc5': [50.7569, 50.6073, 50.5576],
 '7ddz': [35.3],
 '7cq5': [41.4876],
 '4xe5': [41.9479],
 '4d0a': [31.2688],
 '4ixr': ['Not found'],
 '8cte': [41.4876],
 '7ak5': [41.8825],
 '6w2x': [41.4876],
 '5nuq': [50.7569, 59.4125],
 '6lmx': [40.8475],
 '2xq3': [62.0],
 '5x9h': [69.4857],
 '5dhh': [50.6073],
 '6w5r': [41.4876],
 '7dla': [50.7569],
 '6v9s': [41.4876],
 '7bu6': ['Not found', 35.3],
 '5dl6': [39.0],
 '6ps5': [41.4876],
 '2vde': [50.7569],
 '5zmw': [43.8693],
 '6tq7': [41.4876],
 '4p19': [41.9],
 '3vvp': ['Not found'],
 '7w6t': [41.8825, 41.4876],
 '5nxr': [41.7431],
 '3qq2': [67.7],
 '7t56': [39.0],
 '2wsx': [50.6073],
 '2hjf': [41.8825, 72.2],
 '4r7c': [35.3078],
 '7au6': [66.7829],
 '8d1l': [41.4876],
 '5br2': [66.2551],
 '7mtq': [41.4876],
 '2ksd': [50.7569],
 '7mgx': [50.6073, 41.4876],
 '7v19': [41.4876],
 '1mmh': 'PDB data unavailable',
 '7qhm': [53.8],
 '1sqv': [41.9479],
 '7s60': [41.4876],
 '7t57': [39.0],
 '7f3t': [41.4876],
 '2lot': [41.4876],
 '6hxb': [41.971],
 '3han': [66.2551],
 '6bui': [39.0933],
 '7da5': [41.4876],
 '6zy3': [50.6, 50.6, 50.6, 50.6073],
 '6yhi': [41.4876],
 '3l74': [42.2233],
 '2mlh': [52.5979],
 '3c9l': [41.9479],
 '3s39': [69.4857],
 '5ldx': [41.9479],
 '6cse': [33.1],
 '6p48': [41.8825],
 '7kgh': [38.9896],
 '2kih': ['Not found'],
 '3n23': [41.971],
 '6m47': [41.8825, 42.0803],
 '4tkq': [43.5]}